.App {
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}

.header {
	top: 0px;
	left: 8px;
	display: grid;
	background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, var(--unnamed-color-ffffff) 48%, var(--unnamed-color-d7dfef) 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 48%, #D7DFEF 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
}

.header_nav {
	display: grid;
	grid-template-columns: 20% 40% 40%;
}

.header_search {
	top: 653px;
	left: 132px;
	width: 591px;
	height: 70px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #2329481A;
	border: 1px solid #9FB0D3;
	border-radius: 72px;
	opacity: 1;
}

.header_svg_display_text input::placeholder {
	margin-left: 100px
}

ul {
	list-style-type: none;
}

.header_top_links ul li {
	display: inline-block;
	padding: 0 1rem
}

.header-top_login .language {
	width: 105px;
	background: white;
}

.header-top_login button {
	top: 41px;
	left: 1580px;
	width: 134px;
	height: 44px;
	background: var(--unnamed-color-1d84c9) 0% 0% no-repeat padding-box;
	background: #1D84C9 0% 0% no-repeat padding-box;
	box-shadow: 0px 6px 10px #23294833;
	border-radius: 22px;
	opacity: 1;
	outline: none;
	border-style: none;
	margin: 0 1em;
}

a {
	color: black
}

.header_svg_display_text {
	margin: 3em;
}

.header_svg_display {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.header_svg_img img {
	width: 100%;
}